# Capstone 2: Pre-processing and Training Data Development

## Load Libraries and Data

In [2]:
#Import libraries
# Import relevant libraries and packages.
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns # For all our visualization needs.
import statsmodels.api as sm #This is a python module which provides classes and functions for the estimation of different statistical models, conducting statistical tests, and statistical EDA.
from statsmodels.graphics.api import abline_plot # For visualizing evaluating predictions.
from sklearn.metrics import mean_squared_error, r2_score #The mean_squared error is the average squared difference between the estimated values and true value. The r2_score is used to determine how the variability of one factor can be caused by its relationship to another related factor.
from sklearn.model_selection import train_test_split # To split the data.
from sklearn import linear_model, preprocessing # The linear model is the ordinary least squares linear regression model. Preprocessing helps to standardize a data set. If some outliers are present in the set, robust scalers or transformers are more appropriate.
import warnings # For handling error messages.
# Don't worry about the following two instructions: they just suppress warnings that could occur later. 
warnings.simplefilter(action='ignore', category=FutureWarning)
warnings.filterwarnings(action='ignore', module='scipy', message='^internal gelsd')
import os
from library.sb_utils import save_file

C:\Users\jmhat\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,
C:\Users\jmhat\anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:7: FutureWarning: pandas.Float64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  from pandas import (to_datetime, Int64Index, DatetimeIndex, Period,

In [3]:
#Load the CSV data from the data wrangling
data_all_0 = pd.read_csv('C:/Users/jmhat/Desktop/Coding/Capstone2/data/data_all_0.csv')
data_no_nan = pd.read_csv('C:/Users/jmhat/Desktop/Coding/Capstone2/data/data_no_nan.csv')

## Split data into training and test sets

In [4]:
#Split the data into training and testing sections
X_0 = data_all_0.drop(columns=['Weekly_Sales'])
y_0 = data_all_0['Weekly_Sales']
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_0, y_0, test_size=0.2, random_state=42)

In [5]:
X_nan = data_no_nan.drop(columns=['Weekly_Sales'])
y_nan = data_no_nan['Weekly_Sales']
X1_train, X1_test, y1_train, y1_test = train_test_split(X_nan, y_nan, test_size=0.2, random_state=42)

In [6]:
X_train.head()

,Store,Date,Temperature,Fuel_Price,MarkDown1,MarkDown2,MarkDown3,MarkDown4,MarkDown5,CPI,Unemployment,IsHoliday,Dept,Size,Type_B,Type_C
138466,15,733895,31.79,2.919,0.00,0.00,0.00,0.00,0.00,131.735000,8.350,0,96.0,123737,1,0
289214,30,734186,59.87,3.045,0.00,0.00,0.00,0.00,0.00,212.903312,8.028,0,10.0,42988,0,1
52351,6,734158,46.20,3.016,0.00,0.00,0.00,0.00,0.00,213.339965,6.858,0,10.0,202505,0,0
203504,21,734431,65.16,3.353,0.00,0.00,0.00,0.00,0.00,217.165004,7.441,0,27.0,140167,1,0
233606,24,734466,41.83,3.689,2571.98,66.94,64304.51,221.93,3661.62,136.478800,8.454,1,25.0,203819,0,0

In [7]:
X1_train.head()

,Store,Date,Temperature,Fuel_Price,CPI,Unemployment,IsHoliday,Dept,Size,Type_B,Type_C
138466,15,733895,31.79,2.919,131.735000,8.350,0,96.0,123737,1,0
289214,30,734186,59.87,3.045,212.903312,8.028,0,10.0,42988,0,1
52351,6,734158,46.20,3.016,213.339965,6.858,0,10.0,202505,0,0
203504,21,734431,65.16,3.353,217.165004,7.441,0,27.0,140167,1,0
233606,24,734466,41.83,3.689,136.478800,8.454,1,25.0,203819,0,0

In [8]:
y_train.head()

138466     1592.31
289214      161.71
52351     36427.26
203504     1792.48
233606    14598.98
Name: Weekly_Sales, dtype: float64

In [9]:
y1_train.head()

138466     1592.31
289214      161.71
52351     36427.26
203504     1792.48
233606    14598.98
Name: Weekly_Sales, dtype: float64

## Scale the training and testing data

In [15]:
from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import StandardScaler, MaxAbsScaler, MinMaxScaler

In [16]:
SS_scaler = StandardScaler()
MM_scaler = MinMaxScaler()
MA_scaler = MaxAbsScaler()

SS_scaler.fit(X_train)
MM_scaler.fit(X_train)
MA_scaler.fit(X_train)

XtrainSS_scaled = SS_scaler.transform(X_train)
XtrainMM_scaled = MM_scaler.transform(X_train)
XtrainMA_scaled = MA_scaler.transform(X_train)

In [17]:
SS_scaler.fit(X1_train)
MM_scaler.fit(X1_train)
MA_scaler.fit(X1_train)

X1trainSS_scaled = SS_scaler.transform(X1_train)
X1trainMM_scaled = MM_scaler.transform(X1_train)
X1trainMA_scaled = MA_scaler.transform(X1_train)

In [18]:
SS_scaler.fit(X_test)
MM_scaler.fit(X_test)
MA_scaler.fit(X_test)

XtestSS_scaled = SS_scaler.transform(X_test)
XtestMM_scaled = MM_scaler.transform(X_test)
XtestMA_scaled = MA_scaler.transform(X_test)

In [19]:
SS_scaler.fit(X1_test)
MM_scaler.fit(X1_test)
MA_scaler.fit(X1_test)

X1testSS_scaled = SS_scaler.transform(X1_test)
X1testMM_scaled = MM_scaler.transform(X1_test)
X1testnMA_scaled = MA_scaler.transform(X1_test)